# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_d6qhzel
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_6kg4ikm
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=que2cm9r563u8BZtm

# Next.js Configuration
NEXT_PUBLIC_SITE_URL=https://www.mt-international.com 